.design_01_sm, .horizon_sm, .quote_sm, .structure_03_sm{
	background: url(sprites.png) no-repeat;
}

.design_01_sm{
	background-position: 0 0;
	width: 1600px;
	height: 250px;
}

.horizon_sm{
	background-position: 0 -500px ;
	width: 1600px;
	height: 280px;
}

.quote_sm{
	background-position: 0 -780px ;
	width: 1600px;
	height: 320px;
}

.structure_03_sm{
	background-position: 0 -250px ;
	width: 1600px;
	height: 250px;
}

