i.fa.fa-angle-down {
  font-size:40px;
  -webkit-animation:fa-angle-down-bounce ease-in-out 4s;
  -webkit-animation-iteration-count:infinite;
  -webkit-transform-origin:50% 50%;
  -moz-animation:fa-angle-down-bounce ease-in-out 4s;
  -moz-animation-iteration-count:infinite;
  -moz-transform-origin:50% 50%;
  -o-animation:fa-angle-down-bounce ease-in-out 4s;
  -o-animation-iteration-count:infinite;
  -o-transform-origin:50% 50%;
  animation:fa-angle-down-bounce ease-in-out 4s;
  animation-iteration-count:infinite;
  transform-origin:50% 50%
}

@-webkit-keyframes fa-angle-down-bounce {
0% {
  -webkit-transform:translate(0px,0px)
}

12% {
  -webkit-transform:translate(0px,-20px)
}

25% {
  -webkit-transform:translate(0px,0px)
}

35% {
  -webkit-transform:translate(0px,-10px)
}

50% {
  -webkit-transform:translate(0px,0px)
}

100% {
  -webkit-transform:translate(0px,0px)
}
}

@-moz-keyframes fa-angle-down-bounce {
0% {
  -moz-transform:translate(0px,0px)
}

12% {
  -moz-transform:translate(0px,-20px)
}

25% {
  -moz-transform:translate(0px,0px)
}

35% {
  -moz-transform:translate(0px,-10px)
}

50% {
  -moz-transform:translate(0px,0px)
}

100% {
  -moz-transform:translate(0px,0px)
}
}

@-o-keyframes fa-angle-down-bounce {
0% {
  -o-transform:translate(0px,0px)
}

12% {
  -o-transform:translate(0px,-20px)
}

25% {
  -o-transform:translate(0px,0px)
}

35% {
  -o-transform:translate(0px,-10px)
}

50% {
  -o-transform:translate(0px,0px)
}

100% {
  -o-transform:translate(0px,0px)
}
}

@keyframes fa-angle-down-bounce {
0% {
  transform:translate(0px,0px)
}

12% {
  transform:translate(0px,-20px)
}

25% {
  transform:translate(0px,0px)
}

35% {
  transform:translate(0px,-10px)
}

50% {
  transform:translate(0px,0px)
}

100% {
  transform:translate(0px,0px)
}
}